<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finogeeks.finclip.pay.demo">

    <!-- 微信下单网络接口需要 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Android 11-第三方应用无法拉起微信适配 -->
    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:name=".DemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo">
        <!-- WXPay -->
        <!-- launchMode需要设置为singleInstance，
        否则因为多进程（小程序为独立进程）任务栈的原因，调起微信支付从微信页面返回会打开APP页面（非小程序页面） -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|keyboard|navigation"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>